#body {
    background-color: #efefef;
}

#main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 55px;
    height: 55px;
}
.media-body{
    padding-top: 16px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

#list-group{
    margin-top: 25px;
}
#community-menu{
    color: #999;
    font-size: 15px;
}
#form-control{
    margin: 10px 0;
}
#btn-success{
    float: right;
    margin-bottom: 10px;
}