<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>码匠社区</title>

    <!--引入jquery-->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
<div th:insert="~{navigation ::nav}"></div>

<div class="container-fluid" id="main">
    <div class="row">
        <div class="jumbotron">
            <h1>出错啦! ! !</h1>
            <p th:text="${message}">请重试...</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
        </div>

    </div>
</div>


</body>
</html>